html{
    height:100%
}
body{
   background-image:url(bgimg.png);
   background:no-repeat;
   height:100%;
   margin: 0;
   background-attachment: fixed;

}
 #navHeader{
      background-color: rgba(200, 237, 252, 0.397);
    min-height: 90px;}

#cards{
background-color: rgba(212, 236, 247, 0.096);
margin: auto;
  width: 80%;
  min-height: 40%;
  border-color: rgba(64, 224, 208, 0.493);
  padding: 10px;
}
 #navFooter{
     background-color: rgba(169, 169, 169, 0.308);
     z-index: -1;
 }
 #parent{
    
     position: absolute;
     text-align: center;
 }

#child{
    background-color: rgb(52, 70, 70);

} 
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(167, 197, 228, 0);
    transition: 0.3s;
    max-width: 200px;
    max-height: auto;
    z-index: 950;
  }
  .centercard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(167, 197, 228, 0);
    transition: 0.3s;
    max-width: 600px;
    max-height: auto
  }
  .centercard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }


  #loginform{
      margin-top: 130px;
      text-align: center;
      background-color: rgba(191, 198, 216, 0.021);
    
  }